.mainLayout {
    display: grid;
    grid-template-columns:
      minmax(150px, 0.75fr)
      minmax(300px, 3fr)     
      minmax(100px, 1fr);
    height: 100vh;
}

.center {
    background-color: rgba(128, 128, 128, 0.2);
    padding: 16px;
} 